*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    width: 90%;
    margin: auto;
    height: fit-content;

}
#main #heading{
    width: 100%;
    margin: 20px auto 60px auto;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
}
#cards{
    width:100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
#card{
    width: 23%;
    border: 1px solid rgb(207, 204, 204);
    height: 290px;
    border-radius: 20px;
    margin-bottom: 20px;
}
#cardImg{
    width: 85%;
    height: 50%;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 55px;
    margin-top: 10px;
}
#desc{
    font-size: 25px;
    text-align: center;
    padding: 5px 0px;
    color: rgb(87, 84, 84);
}
#price{
  font-weight: bold;
  padding-bottom: 5px;
  margin-left: 5px;
}
#const{
    width: 35%;
    background-color: rgb(190, 187, 187);
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
}
#rating{
    background-color: green;
    border-radius: 35%;
    width: 18%;
    color: white;
    text-align: center;
    margin-left: 5px;
}